<%= form_for @comment do |f| %>
    <div class='form-group'>
        <label for="content" class="control-label">Comment</label>
        <%= f.text_area :content, class: 'form-control' %>
    </div>
    <%= f.submit 'Leave Comment', class: 'btn btn-custom' %>
<% end %>