<div class='container-fluid'>
    <h1 class='text-center my-5 message-subject'>Inbox</h1>

    <% @conversations.each do |conversation| %>
        <div class='col-lg-12 custom-card'>
            <%= link_to conversation_path(conversation), class: 'p-4 no-hover inbox-item' do %>
                <div class="<%= conversation.is_read?(current_user) ? '' : 'font-weight-bold' %>">
                    <div class='ml-3 subject'>
                        Subject: <%= conversation.subject %>
                    </div>

                    <div class='ml-5 mt-1'>
                        Conversation With:
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>

    <%= link_to '', new_conversation_path, class: 'fas fa-comment-alt comment-custom' %>
</div>