<h1 class='alert alert-primary text-center messages-header'>New Conversation</h1>    

<div class='container'>
    <div class='justify-content-center'>
    <div class='col-lg-5'>
    <%= form_tag conversations_path, method: :post do %>
        <div>
            <%= text_field_tag :subject, nil, placeholder: 'Listing Info', class:'my-3 form-control form-control-custom' %>
        </div>

        <div>
            <%= text_area_tag :body, nil, placeholder: 'Leave a comment', class:'form-control form-control-custom text-area-custom' %>
        </div>

        <%= submit_tag 'Send Message', class: 'ml-auto btn btn-secondary-custom'%>
    <% end %>  
    </div> 
    </div>
</div>

