<h1>New Conversation</h1>

<%= form_tag conversations_path, method: :post do %>
    <div>
        <%= text_field_tag :subject, nil, placeholder: 'Listing Info' %>
    </div>

    <div>
        <%= text_area_tag :body, nil, placeholder: 'Leave a comment' %>
    </div>

    <%= submit_tag 'Send Message', class: 'btn btn-secondary-custom'%>
<% end %>    