<h5>Your listing has been approved!</h5>

<p>Thank you for choosing to work with Utah Water Right Exchange. 
   We will be in contact pending the sale of your listing. So hang tight, 
   and let us do the heavy lifting. Feel free to contact us with any 
   questions regarding your water rights or the service we provide.
</p>

<small>
    Do remember that posting your water with us is non-exclusive. 
    So with that, feel free to post elsewhere or remove your post 
    at any time. Again, thanks for choosing us as your water right brokerage.
</small>

<%= render 'shared/contact_card'%>