<div class='card'>
    <h3 id='contact'>Contact</h3>
    <ul style="list-style-type:none;">
        <li>Mardell D. Topham, Water Right Broker</li>
        <li>Office: 801-566-8100</li>
        <li>Mobile: 801-201-5221</li>
        <li><a href="mailto:mdtopham@msn.com">Email: mdtopham@msn.com</a></li>
    </ul>
</div>