<% unless current_user.role == 'guest' %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Listings</a>
    <div class="dropdown-menu" aria-labelledby="dropdown05">
      <%= link_to "My Listings", my_posts_path, class: 'dropdown-item' %>
      <%= link_to "New Listing", new_post_path, class: 'dropdown-item' %>
    </div>
  </li>
<% end %>