<div class="card inner cover my-5">
  <h1 class="display-4 text-center mt-5">About Us</h1>
  <p class="lead text-center m-4">We are dedicated to being a one stop shop for buying and selling water rights in the state of Utah. We strive to give our users a streamlined way through the market. In addition, we hope to find trends in asking prices, and further establish a fair market value across the board.</p>
  <hr class="my-4">
  <p class="text-center mb-5">
    <%= link_to 'View Listings', posts_path, class: 'btn btn-custom mr-2' %>
    <% if current_user.try(:type) == 'GuestUser' %>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-secondary'  %>
    <% else %>
      <%= link_to "Create a Listing", new_post_path, class: 'btn btn-secondary' %>
    <% end %>
  </p>
</div