<%= image_tag "https://s3.amazonaws.com/utah-water-right-exchange/mountain-lake.jpg?response-content-disposition=inline&X-Amz-Security-Token=AgoGb3JpZ2luEAoaCXVzLXdlc3QtMSKAAkYr5AnQR6qr6gL77zFjfTXX49j6Pug50YJkcdCn2MQHxmGLxaraspzXx7OBzUJUWSj9HwIrh%2BR33wOq3wOnd6w7%2FdQ48uqjHlDtLSVbCWmBtgiVywkkdzBwceSF0nsBTsVd%2B1FN6xqNjvKVxvc%2FgETR4929hB5tNOz0sIVh9Y3pcVxjnBuhcRmroQzMaJn93peBWshCviTvWutEaM%2BsNq2rZazdko85ukFmoZ8xGBvAduyY3au6maFwFWJsjYP%2FgHinPrUCfeqYnQE6tEPrW5EIcGzIsCoMUHuUiNfZFt45d4Ra2hBZdyhQhKZbOpMT82pCakFZkUdocErAlvW4pdsq2wMIbxAAGgw2MzAwODM0MzYzNjciDI7XlyR6iTmmZZ2ajyq4A%2BW1UoRcsesnMevBU86IwznLQx0nuBwPoeVDe83UA95ZnYWXJpcgY04Zx2pvrdyzRZNa1QlqBu%2BzZxwzRy5exj%2F9YX0PVy7ootsUgRgmVXMxqYLRdyN0IMfOhdbAckxxXeMlkhf6jDJcnEEhxd5i8PTc9MSZNYBS%2FxGfI%2BK6thh72l2zB16j%2F8sARle1CAuCk1qooeZYhfy3U%2F1A3G7%2FCKYEdRvigB0kioKnJXM4RkjGA8OX8YCNX2TLJnhga7U8qH%2F6RYBbWDL5D13wnRfCLz63jJZV2o4mHKVKWc2QzI5s%2Bi1DEKmY%2Bytc%2FB6F7EBacriy1bi%2F1msGm%2F5tNeogekCxTjN%2FfMifANmVp6adVDCsiJK3ZOug9Xr%2F41bCSz7rESQIhPN7MR4XXJ9edZkKLQO6XRjzHK%2BLhpgT8eTTjYW0Tp9z1rRq%2F3rFdePxPAClq%2BAIdiEopVdO%2BwZ8Df%2B2ykD8UaTIlAMw3%2FUP6ncMELIDOglJKULga9ejgZTU2UWB8yxStI%2Ft7b0gO2Ey%2FrnXADAh8dAs3NynDHE3vXiQpf8OMXcW9GSZJNnEl3dBBtZ43IohxLl1Z42pMLXQtd4F&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20181022T063640Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAZFM7GH5H2EOQP7KE%2F20181022%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=e900f979a3fab5d3efe21b8225d81c9bbf89bdb3840f8fcd166af33996524714", id: "mountain-lake" %>

<div class="container-fluid" id='homepage-card'>
  <div class="card" >
    <h3 class="display-4 text-center mt-5">Utah Water Right Exchange</h3>
    <p class="lead text-center m-4">As the only water right brokerage service in the State of Utah, we serve as a clearing house for water rights. It is our goal to establish a market place where water rights can be bought and sold at a fair price.</p>
    <hr class="m-5">
    
    <div id="what-we-do">
      <h3 class=" ml-4 homepage-heading">Our Mission:</h3>

      <p class="lead ml-5" id="what-we-do-body">
        Utah Water Right Exchange was created to gather enough information on the sale of individual water rights, so a market price range can be disclosed. Using this information, we hope to establish a fair market price, so both the buyer and seller are satisfied.
      </p>
    </div>

    <p class="text-center mb-5">
      <%= link_to 'View Listings', posts_path, class: 'btn btn-custom mr-2' %>
      <% if current_user.try(:type) == 'GuestUser' %>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-secondary'  %>
      <% else %>
        <%= link_to "Create a Listing", new_post_path, class: 'btn btn-secondary' %>
      <% end %>
    </p>
  </div>
</div>