<%= image_tag "https://s3.amazonaws.com/utah-water-right-exchange/mountain-lake.jpg", id: "mountain-lake" %>

<div class="" >
  <div id='homepage-header'>
    <h3 class="display-4 text-center mt-3 mb-4">Utah Water Right Exchange</h3>
    <p class="lead text-center m-4">As the only water right brokerage service in the State of Utah, we strive to serve as a one stop shop for buying and selling water rights.</p>
  </div>
   
  <div class="container-fluid" id='homepage-body'>  
    <div class="row" >
      <div class="col-md-6">
      <h3 class=" ml-4 homepage-heading">What We Do:</h3>

      <p class="lead m-5">
        Utah Water Right Exchange was created to gather information on the sale of individual water rights, so a market price range can be disclosed. Using this information, we hope to establish a fair market price, so both the buyer and seller are satisfied.
      </p>
    </div>

      <div class="col-md-6">
      <h3 class=" ml-4 homepage-heading">What You Do:</h3>

      <p class="lead m-5">
        We serve as a classifieds page where you can create listings for any and all of your water rights in the state of Utah. All you need to do is create an account, and from there it is as simple as giving a little bit of information on the water. After that the post will be reviewed, and once it is accepted it will be live for all to see.
      </p>
      </div>
    </div>

    <hr class="m-5">

    <p class="text-center mb-5">
      <%= link_to 'View Listings', posts_path, class: 'btn btn-custom mr-2' %>
      <% if current_user.try(:type) == 'GuestUser' %>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-secondary'  %>
      <% else %>
        <%= link_to "Create a Listing", new_post_path, class: 'btn btn-secondary' %>
      <% end %>
    </p>
  </div>
</div>
