<%= image_tag "https://s3.amazonaws.com/utah-water-right-exchange/mountain-lake.jpg", id: "mountain-lake" %>

<div class="container-fluid" id='homepage-card'>
  <div class="card" >
    <h3 class="display-4 text-center mt-5">Utah Water Right Exchange</h3>
    <p class="lead text-center m-4">As the only water right brokerage service in the State of Utah, we serve as a clearing house for water rights. It is our goal to establish a market place where water rights can be bought and sold at a fair price.</p>
    <hr class="m-5">
    
    <div id="what-we-do">
      <h3 class=" ml-4 homepage-heading">Our Mission:</h3>

      <p class="lead ml-5" id="what-we-do-body">
        Utah Water Right Exchange was created to gather enough information on the sale of individual water rights, so a market price range can be disclosed. Using this information, we hope to establish a fair market price, so both the buyer and seller are satisfied.
      </p>
    </div>

    <p class="text-center mb-5">
      <%= link_to 'View Listings', posts_path, class: 'btn btn-custom mr-2' %>
      <% if current_user.try(:type) == 'GuestUser' %>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-secondary'  %>
      <% else %>
        <%= link_to "Create a Listing", new_post_path, class: 'btn btn-secondary' %>
      <% end %>
    </p>
  </div>
</div>