<head>
  <meta name="kewords" content= "Utah,
                                 Utah Water,
                                 Utah Water Rights,
                                 Utah Land and Water, 
                                 Water for Sale in Utah,
                                 Utah Water Broker,
                                 Utah Water Brokerage,
                                 Water Rights, 
                                 Irrigation Water,
                                 Utah Well Water"
</head>
<body id="static-background">
  <% if current_user.try(:type) == 'AdminUser' %>
    <%= render 'admin' %>
  <% else %>
    <%= render 'user' %>
  <% end %>
</body>