
  <div class='inputGroup col-md-4'>
    <%= f.radio_button :purpose, 'buy' %>
    <%= f.label :purpose, 'Water Wanted', for: 'post_purpose_buy' %>
  </div>

  <div class="inputGroup col-md-4">
    <%= f.radio_button :purpose, 'sell' %>
    <%= f.label :purpose, 'Water for Sale', for: 'post_purpose_sell' %>
  </div>