<div class="form-group">
  <h4>What is the purpose of your ad?</h4>
  <br>

  <%= f.radio_button :purpose, 'buy', id: 'buy' %>
  <%= f.label :purpose, 'Buying' %>

  <%= f.radio_button :purpose, 'sell', id: 'sell' %>
  <%= f.label :purpose, 'Selling' %>
</div>