<div class="form-group col-md-12">
  <span class="float-left purpose">
    What is the purpose of your ad?
    <%= f.radio_button :purpose, 'buy', id: 'buy' %>
    <%= f.label :purpose, 'Buying' %>

    <%= f.radio_button :purpose, 'sell', id: 'sell' %>
    <%= f.label :purpose, 'Selling' %>
  </span>
</div>