
  <div class='inputGroup col-md-4'>
    <%= f.radio_button :purpose, 'buy', id: 'buy', name: "radio" %>
    <%= f.label :purpose, 'Water Wanted', for: 'buy' %>
  </div>

  <div class="inputGroup col-md-4">
    <%= f.radio_button :purpose, 'sell', id: 'sell', name: "radio" %>
    <%= f.label :purpose, 'Water for Sale', for: 'sell' %>
  </div>
