<% if @post.sale_status == 'sale_pending' %>
    <div>
        <%= link_to 'Mark as Sold', sold_post_path(@post), class: 'btn btn-mark-sold mb-1' %>
    </div>
<% else %>
    <%= form_for @post, class: 'form-horizontal' do |f| %>
        <div class='row'>
            <h4 for="date" class="control-label">Sale Date</h4>
            <%= f.date_field :sale_date, class: 'form-control form-control-custom mb-4', id: 'date' %>
        </div>
        <%= f.submit 'Save', class: "btn btn-custom btn-lg btn-block mt-3" %>
    <% end %>
<% end %>