<% if current_user.try(:type) == 'AdminUser' %>
    <div class='row'>
        <div class="col-md-6">
            <div class='card'>
                <div class='card-body'>
                    <h5>
                        Posted by: <%= @post.user.full_name %>
                    </h5>

                    <h5>
                        Email: <%= @post.user.email %>
                    </h5>
                
                    <h5>
                        Phone: <%= number_to_phone((@post.user.phone).to_i, area_code: true) %>
                    </h5>
                </div>    
            </div>
        </div>
        <div class="col-md-6">
            <% if @post.right_number != "" %>
                <h5 class="float-right alert alert-secondary">
                    Water Right Number: <%= @post.right_number %>
                </h5>
            <% end %>
        </div>
    </div>
<% end %>