<span class="water-type">
  <%= f.radio_button :water_type, 'acre_foot', id: 'acre_foot' %>
  <%= f.label :water_type, 'Acre Foot' %>

  <%= f.radio_button :water_type, 'share', id: 'share' %>
  <%= f.label :water_type, 'Share' %>
</span>