<span class="form-group water-type">
  <%= f.radio_button :water_type, 'acre_foot', id: 'acre_foot', class: 'step-radio' %>
  <%= f.label :water_type, 'Acre Foot' %>

  <%= f.radio_button :water_type, 'share', id: 'share', class: 'step-radio' %>
  <%= f.label :water_type, 'Share' %>
</span>