<div class="card-deck mb-3 text-center show-container">
  <div class="card mb-4 box-shadow">
    <div class="card-header">
      <h4 class="my-0 font-weight-normal">
        Edit Listing
      </h4>
    </div>
    <%= render 'form' %>
  </div>
</div>