<div class="album py-5 bg-light album-custom">
  <div class="container-fluid">
      <%= search_form_for @search do |f| %>
        <form>
          <%= f.search_field :address_or_title_cont, class: ' form-control col-lg-4 mb-4 form-control-custom', placeholder: 'Search...' %>
        </form>
      <% end %>

    <div class="row">
      <%= render @posts %>

    </div>
  </div>
</div>