@import 'bootstrap';
@import 'gritter';
@import "bourbon";
@import "admin_homepage.css";

.nav-image {
  height: 25px;
}

.custom-card {
  margin-bottom: 25px;
  padding: 15px;
}

.custom-card :hover {
  backgroud-color: blue;
}

.edit {
  float: right;
}

.navbar-custom {
  background-color: #a9c3cc;
}

.card-link {
  color: black;
}

.card-link :hover {
  color: red;
}

.show-container {
  padding-top: 45px;
}

.show-item {
  padding: 15px;
}