@import 'bootstrap';
@import 'gritter';
@import "bourbon";

.nav-image {
  height: 25px;
}

.custom-card {
  margin-bottom: 25px;
  padding: 15px;
}

.custom-card :hover {
  backgroud-color: blue;
}

.edit {
  float: right;
}

.navbar-custom {
  background-color: #a9c3cc;
}