@import 'bootstrap';
@import 'gritter';
@import "bourbon";
@import "admin_homepage.css";

html,
body {
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
}

#background {
  background-color: #8aacc8;
}

.nav-image {
  height: 30px;
}

.custom-card {
  margin-bottom: 25px;
  padding: 15px;
  color: black;
  text-decoration: none;
  box-shadow: 5px 5px 12px #c6d1ce;
}

.custom-card:hover {
  text-decoration: none!important;
  background-color: #f3fbfc;
 }

.custom-card a:link:hover {
  background-color: #f3fbfc;
 }

.no-hover:hover {
  text-decoration: none!important;
}

.edit {
  float: right;
}

.navbar-custom {
  box-shadow: 0px 1px 10px;
  background-color: #bbdefb;
}

.card-link {
  color: black;
}

.card-link:hover {
  color: #999999;
}

.show-container {
  padding-top: 45px;
}

.show-item {
  padding: 15px;
}

.custom-icon {
  color: grey;
  font-size: 1.4em;
  padding: 8px;
}

.custom-icon:hover {
  color: #999999;
  text-decoration: none;
}

.nav-link:hover {
  cursor: pointer;
}

.posted-by-card {
  padding-top: 10px;
}

.alert-custom {
  padding: 4px;
  margin-left: 25px;
}

.water-type {
  margin-left: 5px;
}

.purpose {
  font-size: 1.1em;
  margin: 15px;
}

.btn-custom {
  background-color: #4dd0e1;
  color: white
}

.btn-custom:hover {
  color: white;
  background-color: #009faf;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

